*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 2;
    word-spacing: 3;
}
.calculator{
    width: 50%;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    height: 200px;
    margin-top: 200px;
}
.con{
    box-shadow: 10px 10px 20px grey;
    width: 50%;
    height: 200px;
    padding-top: 200px;
    border-radius: 5px;
}
.input{
    width: 100%;
}
.we{
    margin-left: 30px;
}
.b1{
    height: 30px;
    width: 20%;
    margin-top: 6px;
}
.b1:hover{
    background-color: cornsilk;
}
.b2{
    height: 30px;
    width: 20%;
}
.b2:hover{
    background-color: cornsilk;
}
.b3{
    height: 30px;
    width: 20%;
    margin-top: 6px;
}
.b3:hover{
    background-color: cornsilk;
}